.detail-Page {
  height: 100vh;
  background: #F8F8F8;
  clear: both;
}

.detail-Page-NavBar {
  padding: 0 1.4rem;
  height: 6.5vh;
}

.detail-Page-card {
  width: 91vw;
  margin: 0 auto;
  background-color: #fff;
  min-height: 32vh;
  border-radius: 8px;
  margin-top: 0.3rem;
  padding-bottom: 1vh;
}

.detail-Page-card2 {
  width: 91vw;
  margin: 0 auto;
  margin-top: 1rem;
  background-color: #fff;
  min-height: 28vh;
  border-radius: 8px;
  clear: both;
  padding-bottom: 1vh;
}
.Detail-money{
  font-family: 'DIN', sans-serif;
}