.Login {
  text-align: center;
}

.adm-number-keyboard-header {
  padding: 5px 12px;
}

.adm-number-keyboard-header.adm-number-keyboard-header-with-title {
  justify-content: center;
  font-size: 1rem;
  color: #FFF;
  font-size: 1rem;
  font-weight: 500;
}

.adm-number-keyboard {
  background: #212121 !important;
  padding-bottom: 10px;
}

.adm-number-keyboard-header {
  background: #212121 !important;
}

.adm-number-keyboard-key.adm-number-keyboard-key-extra,
.adm-number-keyboard-key.adm-number-keyboard-key-number {
  background: #383838 !important;
  color: #FFF;
  font-size: 1.8rem;
  font-weight: 500;

}

.adm-number-keyboard-key-sign {
  background: #565656 !important;
  color: #FFF;
  font-size: 1.4rem;
  font-weight: 400;
}

.adm-number-keyboard-key {
  border-radius: 5px !important;
  height: 59px !important;
}

.adm-number-keyboard-key.adm-number-keyboard-key-extra,
.adm-number-keyboard-key.adm-number-keyboard-key-number .adm-number-keyboard-key {
  border: none;
}

.adm-input-element {
  font-size: 1.4rem;
}

.adm-number-keyboard-key {
  border: solid 3px #212121;
}

.Login .adm-input-element {
  font-size: 2.2rem;
  line-height: 1;
  min-height: 1.5em;
}

.Login input::-webkit-input-placeholder {
  font-size: 1.4rem;
}