.MonthCard {
  min-height: 22vh;
  width: 90vw;
  /* border: 1px solid #ccc; */
  margin: 20px auto;
  border-radius: 5px;
  /* box-shadow: 3px 3px 10px #888888; */
  box-shadow: 0 2px 4px 0 rgba(210, 207, 207, 0.2), 0 2px 5px 0 rgba(206, 204, 204, 0.19);
}

.MonthCard-img {
  position: relative;
  height: 14vh;
  width: 100%;
}

.MonthCard-img img {
  width: 100%;
  height: 14vh;
  border-radius: 5px;
  filter: opacity(0.12);
}

.MonthCard-img-box {
  position: absolute;
  /* padding: 0 20px; */
  top: 0;
  left: 0;
  width: 100%;
  height: 14vh;

}

.MonthCard-img-text {
  position: absolute;
  top: -1.8rem;
  left: 1rem;
}

.MonthCard-img-btn {
  position: absolute;
  right: 1rem;
}

.MonthCard-img-box-month {
  font-size: 4rem;
  font-family: serif
}

.MonthCard-img-box-unit {
  font-size: 1.5rem;
  font-family: serif
}

.MonthCard-img-box-money {
  position: absolute;
  top: 9vh;
  left: 1rem;
  width: 82vw;
  display: flex;
  justify-content: space-between
}

.MonthCard-img-box-money .adm-space-item {
  margin-right: 0.1rem !important;
}

.MonthCard-item-balance {
  width: 75.5vw;
  height: 40px;
  /* border: 1px solid red; */
  margin-left: 10.6vw;
  font-size: 0.9rem;
  margin-top: -0.5rem;
  color: #757575
}

.MonthCard-item-balance-b {
  float: right;
}

.listPage-TabBar {
  width: 100%;
  position: fixed;
  bottom: 0;
  height: 7vh;
  background: #fff;
  /* border-top: 1px solid red; */
  box-shadow: 0px -1px 1px rgba(210, 207, 207, 0.2);
  /* box-shadow: 0 2px 4px 0 rgba(210, 207, 207, 0.2), 0 2px 5px 0 rgba(206, 204, 204, 0.19); */
  /* right: 0; */
}

.listPage-TabBar .adm-tab-bar-wrap {
  overflow: initial
}

.listPage-TabBar-detail-icon {
  position: absolute;
  z-index: 999999999;
  left: -2.5rem;
  top: -0.9rem;
  width: 5.1rem;
  /* margin-top: -1rem; */
}

.add-icon {
  width: 14.5vw;
  height: 15vw;
  position: fixed;
  bottom: 10vh;
  right: 5vw;
  border-radius: 50%;
  text-align: center;
  font-size: 2.4rem;
  background: #fff;
  box-shadow: 0 2px 4px 0 rgba(210, 207, 207, 0.2), 0 2px 5px 0 rgba(206, 204, 204, 0.19);
}

.add-icon svg {
  margin-top: 0.7rem;
}


/* MessageSwiper */
.MessageSwiper .adm-swiper-vertical {
  height: 45px;
  margin-bottom: 0.5rem;
  margin-top: -0.5rem;
}

.MessageSwiper .message {
  font-size: 1rem;
}

.MessageSwiper .adm-button.adm-button-mini {
  padding: 8px 12px;
  border: none;
  border-radius: 12px;
}