body {
  /* padding-top: 40px; */

  margin-bottom: -100px !important;
  padding-bottom: -100px !important
}

:root:root {
  --adm-color-primary: #020202;
  --adm-color-danger: #da4450
}

.adm-tabs-tab-wrapper {
  padding: 5px 26px !important;
}

.TabBar {
  width: 100%;
  position: fixed;
  bottom: 0;
  height: 7vh;
  background-color: #F7F7F7;
  /* right: 0; */
}

.TabBar .adm-tab-bar-wrap {
  min-height: 7vh
}

.TabBar-icon {
  width: 6vw;
}


.TabBar .adm-tab-bar-item-title {
  color: #000;
}

/* 首页高度 */
.app-content {
  /* height: 356vh; */
  height: 3260px;
  /* background-color: #F7F8F8; */
}

.background-top {
  width: 100vw;
  height: 52vh;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url(./img/b1.png);
  position: relative;
}

.anchor-point {
  width: 50px;
  height: 50px;
  /* border: 1px solid red; */
  position: absolute;
  top: 8vh;
  left: 31vw;
}


.listPage {
  /* width: 100vw; */
  height: 1000px;
  /* background-color: red; */
  position: relative;
  /* margin-top: 20px; */

}

.listPage-NavBar {
  /* width: 100vw; */
  /* position: absolute; */
  /* left: 0;
  top: 0; */
  /* margin-top: 40px; */
}

.adm-nav-bar-back-arrow {
  font-size: 1.3rem !important;
}

.adm-nav-bar-right {
  margin-right: -0.2rem;
}

.SearchOutline {
  font-size: 1.4rem !important;
}


.filter {
  width: 100vw;
  height: 5vh;
  font-size: 0.9rem;
  line-height: 5vh;
  display: flex;
  font-family: auto;
  justify-content: space-between
}

.uptriangle {
  width: 0px;
  height: 0px;
  border-width: 6px 5px;
  border-color: #000 transparent transparent;
  border-style: solid;
  display: inline-block;
  position: absolute;
  top: 1.1rem;
  left: 90px;
}

.filter-top-left {
  display: flex;
}

.filter-top {
  position: relative;
  margin: 0 2px 0 15px;
  font-weight: 400;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

.filter-date .uptriangle {
  left: 3.8rem;
}

.filter-top svg,
.filter-top-right svg {
  width: 0.8rem !important;
}

.filter-user {
  position: relative;
  left: -5px;
}

.filter-user .uptriangle {
  left: 3.9rem;
}

.filter-top-right {
  width: 3.8rem;
  position: relative;
}

.filter-top-right .uptriangle {
  position: absolute;
  left: 2.2rem;

}

.listPage-top {
  position: fixed;
  top: 0;
  z-index: 999999;
  background-color: #F7F7F7;
}


.listPage-content {
  width: 100vw;
  height: 100vh;
  /* background-color: red; */
  margin-top: 13vh;
  /* margin-bottom: 203vh; */
}

.listPage-content .adm-pull-to-refresh {
  /* margin-bottom: 203vh; */
}

.listPage-content-view {
  /* height: 200vh; */
}

.back {
  width: 100vw;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.b2 {
  height: 69vh;
  background-image: url(./img/b2.png);
}

.b3 {
  height: 70vh;
  background-image: url(./img/b3.png);
}

.b4 {
  height: 80vh;
  background-image: url(./img/b4.png);
}

.b5 {
  height: 60vh;
  background-image: url(./img/b5.png);
}

.home-footer {
  width: 100vw;
  height: 4vh;
  background-color: #F7F8F8;
  text-align: center;
  color: #a7a5a5;
}

.adm-radio.adm-radio-checked .adm-radio-icon {
  border-color: #5f96ec !important;
  background-color: #5f96ec !important;
}

.am-number-keyboard-wrapper .am-number-keyboard {
  height: 600px;
  /* 设置高度为 300px */
}